.container {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(45deg, #ff66b2, #ffcc00);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(255, 102, 178, 0.4);
}

.matchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.winnerImage {
    width: 200px;
    border: 5px solid gold;
    border-radius: 50%;
    box-shadow: 0 0 20px gold;
}
